@font-face {
    font-family: "Poppins-Regular";
    src: url("../../_shared_assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../../_shared_assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-BoldItalic";
    src: url("../../_shared_assets/fonts/Poppins-BoldItalic.ttf");
}

@font-face {
    font-family: "LINESeed-Regular";
    src: url("../../_shared_assets/fonts/LINESeedJP_TTF_Rg.ttf");
    unicode-range: U+3040-309F, U+30A0-30FF, U+4E00-9FFF; /* Hiragana, Katakana, Kanji */
}

@font-face {
    font-family: "LINESeed-Bold";
    src: url("../../_shared_assets/fonts/LINESeedJP_TTF_Bd.ttf");
}

#sceneBackground {
    width:1920px;
    height:1080px;
    z-index:-2;
    position:absolute;
    left:0px;
    top:0px;
    transition: 1s ease-in-out;
    clip-path: polygon(0 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 50%, 100% 50%, 100% 50%);
}

#foreground {
    width:1920px;
    height:1080px;
    z-index:-1;
    position:absolute;
    left:0px;
    top:0px;
}

#main {
    width:1920px;
    height:1080px;
    z-index:0;
    position:absolute;
    left:0px;
    top:0px;
    overflow:hidden;
    font-family: 'Poppins-Regular', 'LINESeed-Regular', sans-serif;
    color: white;
    font-size: 24px;
}

#beatmapContainer {
    position: absolute;
    width:620px;
    height:fit-content;
    left:650px;
    top:45px;
    display:flex;
    flex-direction: column;
}

#beatmap {
    width:620px;
    height:72px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    display:flex;
}

#beatmapImage {
    width:164px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 25px;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#source {
    position: absolute;
    width:164px;
    height:72px;
	filter: brightness(60%) url("#sharpBlur");
	object-fit: cover;
	object-position: center;
    border-radius: 25px;
    z-index: 1;
}

#pick {
    z-index: 2;
    font-family: 'Poppins-Bold';
    font-size: 42px;
    margin-top:7px;
}

#detailColumn {
    display:flex;
    flex-direction: column;
    width:426px;
    margin-left:12px;
    justify-content: center;
    position:relative;
    overflow:hidden;
}

#beatmapName, #beatmapNameDelay {
    position:absolute;
    width:fit-content;
    height:fit-content;
    font-family: 'Poppins-Bold';
    font-size:26px;
    display:flex;
    align-items: center;
	white-space: nowrap;
    top:6px;
    left:0px;
}

#beatmapMapper, #beatmapMapperDelay {
    position:absolute;
    width:fit-content;
    height:fit-content;
    font-size:16px;
    display:flex;
    align-items: center;
	white-space: nowrap;
    top:40px;
    left:0px;
}

#stats {
    margin-top: 5px;
    display:flex;
    justify-content: center;
}

.statRow {
    display:flex;
}

.statColumn {
    margin-right:25px;
}

.statTitle {
    font-family: 'Poppins-Bold';
    font-size:16px;
    margin-right:5px;
}

.statText {
    font-size:16px;
}

#pointBoard {
    width:1920px;
    display:flex;
    justify-content: space-between;
}

#leftTeam {
    width:260px;
    height:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:268px;
    margin-top:38px;
}

#rightTeam {
    width:260px;
    height:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right:268px;
    margin-top:38px;
}

#scoreBlue, #scoreRed {
    display:flex;
    height:28px;
}

.score {
    width:28px;
    height:28px;
    border: 3px solid white;
    background-color: rgb(255, 252, 146,0);
    margin-inline: 4px;
    transition: 250ms ease-in-out;
}

.scoreFill {
    background-color: #FFFC92;
}

#scoreBlue>.score.scoreFillAnimate {
	animation: addScore 500ms forwards;
}

#scoreRed>.score.scoreFillAnimate {
	animation: addScore 500ms forwards;
}

#scoreBlue>.score.scoreNoneAnimate {
	animation: removeScore 500ms forwards;
}

#scoreRed>.score.scoreNoneAnimate {
	animation: removeScore 500ms forwards;
}

#leftTeamPick, #rightTeamPick {
    font-family: 'Poppins-Bold';
    font-size:16px;
    margin-top:10px;
    opacity:0;
    transition: 500ms ease-in-out;
}

#leftName, #rightName {
    width:fit-content;
    font-size: 42px;
    font-family: 'LINESeed-Bold';
    text-wrap: nowrap;
    height:67.5px;
}

#mappoolContainer {
    position:absolute;
    /* background-color: rgba(0,0,0,0.2); */
    width: 1354px;
    height:700px;
    left:496px;
    top:233px;
    opacity:1;
}

.mapContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom:10px;
}

.clicker {
    width:400px;
    height:75px;
    border-radius: 25px;
    position: relative; /* Add this */
	white-space: nowrap;
    margin-inline:23.5px;
    margin-bottom:10px;
    user-select: none; /* Disable text selection */
}

.map {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width:400px;
    border-radius: 25px;
    height:75px;
    overflow:hidden;
}

.ban {
    position: absolute;
    top:0px;
    left:0px;
    width:400px;
    height:75px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins-Bold', 'LINESeed-Regular', sans-serif;
    font-size: 28.5px;
    z-index:4;
    transition: 500ms ease-in-out;
    opacity:0;
}

.highlight {
    position: absolute;
    top:0px;
    left:0px;
    width:400px;
    z-index:2;
    border-radius: 25px;
    height:75px;
    border: 5px solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    opacity:0;
    transition: 500ms ease-in-out;
}

.overlay {
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(124, 111, 87, 0.5);
    z-index:1;
    width:100%;
    height:100%;
    border-radius: 25px;
}

.bg {
    position: absolute;
    top:0px;
    left:0px;
    z-index:0;
    width:100%;
    height:100%;
    border-radius: 25px;
    background-size: 100%;
    background-position: center center;
    /* background-image: url(../../_shared_assets/design/106916230_p0.png); */
}

.mapInfo {
    width:270px;
    display:flex;
    height:fit-content;
    margin-left: 16px;
    margin-top:10px;
    font-family: 'Poppins-Bold';
    font-size:22.5px;
    z-index:2;
    overflow: hidden;
    white-space: nowrap;
    position:relative;
}

.mapInfoStat {
    width:270px;
    display:flex;
    height:fit-content;
    margin-left: 16px;
    margin-top:-3px;
    font-size:14px;
    z-index:2;
    overflow: hidden;
    position:relative;
}

.title, .subTitle {
    width:fit-content;
    height:fit-content;
}

.titleDelay, .subTitleDelay {
    width:fit-content;
    position:absolute;
}

.modIcon {
    position: absolute;
    font-size: 51px;
    font-family: 'Poppins-Bold';
    top: -1px;
    right:12px;
    z-index:2;
}

.pickIcon {
    position: absolute;
    top:0px;
    left:0px;
    opacity:0;
    width:400px;
    height:75px;
    transition: 500ms ease-in-out;
}

.leftArrow {
    position: absolute;
    top:20px;
    left: -30px;
    font-size: 24px;
    font-family: 'Poppins-Bold';
}

.rightArrow {
    position: absolute;
    top:20px;
    right: -30px;
    font-size: 24px;
    font-family: 'Poppins-Bold';
}

.teamLeftColor {
    color:#ef7979;
    border-color: #ef7979;
}

.teamRightColor {
    color:#5094e0;
    border-color: #5094e0;
}

#chatbox {
    position:absolute;
    width:376px;
    height:572px;
    top:233px;
    left:91px;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity:1;
}

#chats {
    width: 345px;
    height: 490px;
    margin-top:-2px;
    overflow: hidden; /* Hide scrollbars */
	padding: 15px 5px 5px 15px;
	font-size: 16px;
    font-family: 'LINESeed-Bold', sans-serif;
    transition: ease-in-out 500ms;
    color:white;
    z-index:2;
}

#chatBG {
    position:absolute;
    top:0px;
    left:0px;
    width:inherit;
    height:inherit;
    object-fit: cover;
    z-index:1;
}
.chat {
	display: flex;
	text-align: left;
	color: #ffffff;
}

.chatTime {
	width: 45px;
	color: #ffffff;
	margin-right: 7px;
}
.wholeChat {
	width: 305px;
	display: flex;
}
.chatName {
	color: #ffffff;
	white-space: nowrap;
	width: max-content;
}
.chatText {
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
}
.unknown {
	color: rgb(186, 82, 255);
}
.bot {
	color: #ffb066;
}
.left {
	color: #ef7979;
}
.right {
	color: #00a2ff;
}

#currentlyPicking {
    position:absolute;
    width:376px;
    height:200px;
    top:825px;
    left:91px;
    display:flex;
    flex-direction: column;
    align-items: center;
    opacity:0;
    transform: translateX(-500px);
    display:none;
}

#currentText {
    font-size: 24px;
    font-family: 'Poppins-Bold';
    text-align: center;
}

#currentPickTeam {
    font-size: 50px;
    font-family: 'LINESeed-Bold', 'Poppins-Bold', 'sans-serif';
    margin-top:-5px;
    text-align: center;
}

#teamLineup {
    position:absolute;
    width:376px;
    height:200px;
    top:825px;
    left:91px;
    display:flex;
    flex-direction: column;
    align-items: center;
    opacity:0;
    transform: translateX(-500px);
    display:none;
}

#lineupText {
    font-size: 24px;
    font-family: 'Poppins-Bold';
    text-align: center;
}

#leftTeamLineup {
    margin-top:5px;
}

#leftTeamLineup, #rightTeamLineup {
    font-size: 18px;
    font-family: 'LINESeed-Bold', 'Poppins-Bold', 'sans-serif';
    text-align: center;
    width:400px;
}

#stageText {
    font-family: 'Poppins-BoldItalic';
    font-size:32px;
    text-align: right;
    position:absolute;
    right:12px;
    bottom:12px;
    color: #FFC756;
    letter-spacing: 3px; /* Increase spacing between characters */
}

/* CONTROL PANEL */
#controlPanel {
    width:1920px;
    height:200px;
    z-index:0;
    position:absolute;
    left:0px;
    top:1085px;
    display:flex;
    align-items: center;
    font-size: 30px;
    font-family: 'Poppins-Regular', 'LINESeed-Regular', sans-serif;
    font-weight: normal;
    color: white;
    background-color: #c7803e;
}

#sceneButton {
    background:rgb(255, 128, 128);
    color:white;
    width:400px;
    height:150px;
    border-radius: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-inline: 25px;
    transition: 250ms ease-in-out;
}

#turnButton {
    background:rgb(49, 41, 33);
    color:rgba(255, 255, 255, 0.473);
    width:400px;
    height:150px;
    border-radius: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-inline: 25px;
    transition: 250ms ease-in-out;
}

#autoButton {
    background:#007A14;
    color:white;
    width:400px;
    height:150px;
    border-radius: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-inline: 25px;
    transition: 250ms ease-in-out;
}

#leftPlayerOne, #rightPlayerOne {
    font: "Poppins-Bold";
    font-size:16px;
}

#gameplayBackground {
    width:1920px;
    height:1080px;
    z-index:-3;
    position:absolute;
    left:0px;
    top:0px;
}

#gameplayScreen, #scoreBoard {
    z-index:-2;
}

.client {
    z-index:-2;
    position:relative;
    width:456px;
    height:344px;
    border: 4px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display:flex;
    flex-direction: column;
    font-family: "Poppins-Bold";
}

.clientTop {
    height:50%;
    width:inherit;
    display:flex;
    justify-content: space-between;
    opacity:0;
}

.clientBottom {
    height:50%;
    width:inherit;
    display:flex;
    justify-content: space-between;
    align-items: end;
}

.scoreClient {
    margin-left: 5px;
    font-size:32px;
}

.accuracyClient {
    font-size:32px;
}

.comboRow {
    display:flex;
    opacity:0;
    margin-left: 5px;
}

.accuracyRow {
    display:flex;
    margin-right: 12px;
}

.comboClient {
    font-size:32px;
}

.playerNameClient {
    margin-right: 16px;
    font-size:32px;
}

#leftTeamClient, #rightTeamClient {
    position:absolute;
    top:0px;
    left:0px;
}

#client0 {
    position:absolute;
    left:53.9998px;
    top:184.7637px;
}

#client1 {
    position:absolute;
    top:184.7637px;
    left:505.9998px;
}

#client2 {
    position:absolute;
    left:53.9998px;
    top:524.7637px;
}

#client3 {
    position:absolute;
    left:505.9998px;
    top:524.7637px;
}

#client4 {
    position:absolute;
    left:957.9998px;
    top:184.7637px;
}

#client5 {
    position:absolute;
    left:1409.9998px;
    top:184.7637px;
}

#client6 {
    position:absolute;
    left:957.9998px;
    top:524.7637px;
}

#client7 {
    position:absolute;
    left:1409.9998px;
    top:524.7637px;
}


/* #client0 {
    position:absolute;
    left:279.9995px;
    top:184.7637px;
}

#client1 {
    position:absolute;
    top:524.7637px;
    left:53.9998px;
}

#client2 {
    position:absolute;
    left:505.9998px;
    top:524.7637px;
}

#client3 {
    position:absolute;
    left:1183.9995px;
    top:184.7637px;
}

#client4 {
    position:absolute;
    left:957.9998px;
    top:524.7637px;
}

#client5 {
    position:absolute;
    left:1409.9998px;
    top:524.7637px;
}

#client7 {
    position:absolute;
    left:1409.9998px;
    top:524.7637px;
}

#client8 {
    position:absolute;
    left:1409.9998px;
    top:524.7637px;
} */

#scoreBoard, #scoreSection {
    position:absolute;
    top:0px;
    left:0px;
    width:1920px;
    height:1080px;
}

#scoreBar {
    width:1400px;
    height:300px;
    position:absolute;
    top:868.7637px;
    left:260px;
    display:flex;
}

#scoreBarLeft, #scoreBarRight {
    width:700px;
    height:14px;
    display:flex;
}

#scoreBarLeft {
    flex-direction: row-reverse;
}

#leftContent {
	background-image: linear-gradient(to right, #ed7a7a ,#efa479);
    transition: 500ms ease-in-out;
}

#rightContent {
	background-image: linear-gradient(to right, #85c1dd ,#0051ff);
    transition: 500ms ease-in-out;
}

#middleBar {
    width:28.499px;
    height:28.499px;
    position:absolute;
    left:945.7505px;
    top:868.7637px;
	object-fit: cover;
	object-position: center;
}

#numericScore {
    width:1400px;
    height:500px;
    position:absolute;
    top:895px;
    left:260px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#scoreDifference {
    font-family: "Poppins-Bold";
    font-size: 32px;
    text-align: center;
    width: fit-content;
}

#playerScore {
    margin-top:-30px;
    display:flex;
    justify-content: center;
}

#playerOne, #playerTwo {
    display:flex;
    margin-inline:220px;
}

#playerOneScore, #playerTwoScore {
    font-family: "Poppins-Bold";
    font-size: 64px;
    width: 340px;
    text-align: center;
    transition: 1s cubic-bezier(0.000, 0.125, 0.000, 1.005);
}

#leftArrowOne, #leftArrowTwo, #rightArrowOne, #rightArrowTwo {
    font-family: "Poppins-Bold";
    font-size: 48px;
    display:flex;
    align-items: center;
}

#leftArrowOne, #rightArrowOne {
    color:#ef7979;
}

#leftArrowTwo, #rightArrowTwo {
    color:#167df3;
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutTop {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

@keyframes fadeOutBottom {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

@keyframes flashMiss {
    0% {
        color:white;
        transform: scale(1);
    }
    5% {
        color:rgb(235, 60, 60);
        transform: scale(0.8);
    }
    100% {
        color:white;
        transform: scale(1);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100px);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}

@keyframes scrollText {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(-100%);
	}
}

@keyframes pick {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes pulseLeftBorder {
	0% {
        opacity: 0;
		border-color: white;
	}
    10% {
        opacity: 1;
		border-color: white;
    }
	100% {
        opacity: 1;
		border-color: #ef7979;
	}
}

@keyframes pulseLeftArrow {
	0% {
        opacity: 0;
		color: white;
	}
    10% {
        opacity: 1;
		color: white;
    }
	100% {
        opacity: 1;
		color: #ef7979;
	}
}

@keyframes pulseRightBorder {
	0% {
        opacity: 0;
		border-color: white;
	}
    10% {
        opacity: 1;
		border-color: white;
    }
	100% {
        opacity: 1;
		border-color: #5094e0;
	}
}

@keyframes pulseRightArrow {
	0% {
        opacity: 0;
		color: white;
	}
    10% {
        opacity: 1;
		color: white;
    }
	100% {
        opacity: 1;
		color: #5094e0;
	}
}

@keyframes slideIn {
    0% {
        transform: translateX(-500px);
        opacity: 0;
	}
	100% {
        transform: translateX(0);
        opacity: 1;
	}
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
	}
	100% {
        transform: translateX(-500px);
        opacity: 0;
	}
}

@keyframes sceneChangeInLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
	}
	100% {
        opacity: 0;
        transform: translateX(-1920px);
	}
}

@keyframes sceneChangeInRight {
    0% {
        opacity: 1;
        transform: translateX(0);
	}
	100% {
        opacity: 0;
        transform: translateX(1920px);
	}
}

@keyframes sceneChangeOutLeft {
    0% {
        opacity: 0;
        transform: translateX(-1920px);
	}
	100% {
        opacity: 1;
        transform: translateX(0);
	}
}

@keyframes sceneChangeOutRight {
    0% {
        opacity: 0;
        transform: translateX(1920px);
	}
	100% {
        opacity: 1;
        transform: translateX(0);
	}
}

@keyframes addScore {
	from {
        background-color: rgba(0,0,0,0);
	}
	to {
		background-color: #FFFC92;
	}
}

@keyframes removeScore {
	from {
		background-color: #FFFC92;
	}
	to {
        background-color: rgba(0,0,0,0);
	}
}